body {
    margin: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    overflow-x: hidden;
    font-family: sans-serif;
}
#selector {
    display: flex;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
#view {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all 0.3s ease-in;
}
.record {
    height: 100px;
    margin: 20px 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.record:hover {
    box-shadow: 0 0 1px;
    border-radius: 25px;
    background-color: rgba(253, 253, 253, 1)
}
.record.hide {
    display: none;
}

.record .revert {
    display: none;
    order: 7;
}
.record.edit .revert {
    display: block;
}
.record.edit .revert:hover {
    color: orange;
    cursor: pointer;
}
.record .confirm {
    display: none;
    order: 6;
}
.record.edit .confirm {
    display: block;
}
.record.edit .confirm.disable {
    pointer-events: none;
    opacity: 0.4;
}
.record.edit .confirm:hover {
    cursor: pointer;
}
.record .remove {
    display: none;
    order: 9;
}
.record .remove:hover {
    color: red;
    cursor: pointer;
}
.record .edit:hover {
    color: blue;
    cursor: pointer;
}
.record .input-first-name {
    display: none;
    order: 2;
}
.record .first-name {
    order: 2;
}
.record.edit .input-first-name {
    display: block;
}
.record.edit .input-first-name.error {
    border-color: red;
}
.record.edit .first-name {
    display: none;
}
.record .input-last-name {
    display: none;
    order: 3;
}
.record .last-name {
    order: 3;
}
.record.edit .input-last-name {
    display: block;
}
.record.edit .input-last-name.error {
    border-color: red;
}
.record.edit .last-name {
    display: none;
}
.record .input-email {
    display: none;
    order: 4;
}
.record .email {
    order: 4;
}
.record.edit .input-email {
    display: block;
}
.record.edit .input-email.error {
    border-color: red;
}
.record.edit .email {
    display: none;
}
.record .select-country {
    display: none;
    order: 5;
}
.record .country {
    order: 5;
}
.record.edit .select-country {
    display: block;
}
.record.edit .select-country.error {
    border-color: red;
}
.record.edit .country {
    display: none;
}
#view.edit .record .remove {
    display: block;
}
#view.edit .record .edit {
    display: block;
}
.record .edit {
    display: none;
    order: 8;
}
.record .face {
    order: 1;
}
#edit {
    background-color: lightblue;
    margin-top: 3%;
    position: relative;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#edit.active {
    display: flex;
}
#view.edit .record .edit {
    display: block;
}
#first-name, #last-name, #email {
    height: 40px;
    width: 100%;
    padding: 10px 10px;
    margin: 30px 30px;
    font-size: 22px;
}
#first-name.error, #last-name.error, #email.error, #countries.error {
    border-color: red;
}
#submit {
    margin: 30px 30px;
}
#submit.disable {
    pointer-events: none;
    color: grey;
}
#submit:hover {
    color: green;
    cursor: pointer;
}
#countries {
    font-size: 22px;
    border-top-right-radius: 30px;
    min-height: 60px;
    background-color: white;
}

#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#header i {
    font-size: 42px;
}
input[type=text] {
    border-width: thin;
    border-style: none;
    border-bottom-style: dotted;
}
input[type=text]:focus {
    outline: none;
    border-bottom-style: solid;
}
#input_search {
    width: 50%;
    font-size: 38px;
}
#search_container i {
    font-size: 48px;
}
#countries {
    font-size: 22px;
    border-top-right-radius: 30px
}
#countries:focus {
    outline: none;
}

#caption, #caption:hover {
    border-style: none !important;
    font-size: 25px !important;
    font-weight: bold !important;
    color: lightgrey !important;
    box-shadow: none !important;
    background-color: none !important;
    pointer-events: none !important;
}
#caption.hide {
    display: none;
}

.error-msg {
    color: red;
    position: absolute;
    left: 2%;
    top: 80%;
    width: 98%;
    height: 10%;
    display: none;
    font-size: small;
}
.error-msg.active {
    display: block;
}

#add-caption {
    position: absolute;
    left: 2%;
    top: -20%;
    width: 98%;
    height: 20%;
    font-size: small;
}

#_player_container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    left: 0;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#_dialog {
    background-color: white;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
}

.speach {
    margin: 20px 20px;
    padding: 20px 20px;
    border-radius: 10px;
    border-style: dotted;
    border-color: grey;
}

#_dialog.opened {
    display: flex;
}

.note {
    font-size: 18px;
    font-weight: bold;
    color: grey;
}
